.todo {
  width: 600px;
  background-color: #fff;
  border: 2px solid #005ea1;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.todolist {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listTitle {
  text-align: center;
  line-height: 1.3;
}

.listCount {
  font-size: 1.2rem;
}

.totalCount {
  margin-left: 15px;
  font-weight: 700;
}
.completedCount{
  color:rgb(0, 187, 0);
  margin-left: 15px;
  font-weight: 700;
}
.unCompletedCount{
  color:rgb(226, 23, 0);
  margin-left: 15px;
  font-weight: 700;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  background-color: rgb(241, 241, 241);
  margin: 5px 0;
}
.textList {
  font-size: 1.3rem;
  color: #494949;
}

.todoDelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 50%;
  background-color: #fc0202;
  color: #fff;
  border: none;
  transition: background-color 250ms linear;
}
.todoDelBtn:hover {
  background-color: #920000;
}
